@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(172, 168, 168);
    
}
header {
    background-color: rgb(232, 222, 222);
    padding: 10px;
    margin: 10px;
}
nav {
    background-color: rgb(165, 159, 159);
    padding: 3px;
    box-shadow: 2px 2px 8px black;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav:hover {
    display: none;
}
main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 2px 2px 8px black;
}
article {
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-family: ;
}
article > aside {
    background-color: rgb(125, 123, 123);
}
section {
    text-align: justify;
    text-align: center;
}            
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
footer > p {
    margin: 0px;
}